<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FastAPI App{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"> 
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="container">
    
    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
        <div class="nav-container">
        <a href="/" class="logo">Mediahub</a>
        <button id="menu-toggle" class="menu-toggle" aria-label="Toggle Menu">☰</button>
        <ul class="nav-links" id="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/notepad" class="btn btn-info">Notepad</a></li>
            <li><a href="/upload" class="btn btn-success">Upload</a></li>
            <li><a href="/login" class="btn btn-primary">Login</a></li>
            <li><a href="/logout" class="btn btn-danger">Logout</a></li>
        </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Page Footer -->
    <footer class="text-center text-muted py-3 mt-5">
        <p>© 2025 GSM Rana. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
    {% block script %}
    {% endblock %}

</body>
</html>
